<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true">

	<targets>
		<target name="logfile" xsi:type="File"
				fileName="${basedir}/logs/mnPoCGeoIp.log"
				archiveFileName="${basedir}/logs/mnPoCGeoIp.{#}.gz"
				layout="mnGIP - ${date:format=yyyy-MM-dd HH\:mm\:ss}|${level:uppercase=true}|${message} ${exception:format=tostring}"
					archiveEvery="Day"
					archiveNumbering="Rolling"
					maxArchiveFiles="21"
					 />

		<target name="logconsole" xsi:type="Console"
				layout="${date:format=yyyy-MM-dd HH\:mm\:ss}|${logger:shortName=true}|${level:uppercase=true}|${message} ${exception:format=tostring}" />

	</targets>

	<rules>
		<logger name="Microsoft.EntityFrameworkCore.*" final="true" />
		<logger name="Microsoft.AspNetCore.*" final="true" />


		<logger name="Microsoft.EntityFrameworkCore.*" minlevel="Warn" writeTo="logconsole,logfile" final="true" />
		<logger name="Microsoft.AspNetCore.*" minlevel="Warn" writeTo="logconsole,logfile" final="true" />

		<logger name="*" minlevel="Info" writeTo="logfile,logconsole" />
	</rules>
</nlog>